[user]
  email = michael.henretty@gmail.com
  name = Michael Henretty

[color]
  ui = auto
[color "diff-highlight"]
  oldHighlight = "red #330000"
  newHighlight = "green #002200"

[core]
  editor = vim
  pager = diff-so-fancy | less -RFX
