[user]
  email = michael.henretty@gmail.com
  name = Michael Henretty

[alias]
  acm = "!f(){ git add -u && git commit -m \"$1\"; };f"

[color]
  ui = true
[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldHighlight = red bold 52
  newHighlight = green bold 22
  oldNormal = red bold
  newNormal = green bold

[core]
  editor = vim
  pager = (diff-so-fancy | less --tabs=4 -RFX) || less -RFX

[url "git@git.coursehero.com:"]
	insteadOf = https://git.coursehero.com/
[gitreview]
	remote = origin
	username = mikehenrty
